.img-fluid{
    width: 250px;
    height: 220px;
    object-fit: cover;
}

.row>*{
    padding-left: 0;
}

.card-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-box-pack: end;
}

.navbar{
    background-color: #ffffff;
}

body{
    background-color: #e7ecef;
}
.col-12{
    padding-right: 0;
}





